<!doctype html>
<html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - Pollkat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-orange.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
  <style>
   .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
    padding-right: 0;
   }
   body{
    background-color: #FAFAFA;
   }
  </style>
 </head>
 <body>
  <!-- Uses a header that contracts as the page scrolls down. -->
  
  <div class="demo-layout-waterfall mdl-layout mdl-js-layout">
   <header class="mdl-layout__header mdl-layout__header--waterfall">
    <!-- Top row, always visible -->
    <div class="mdl-layout__header-row">
     <!-- Title -->
     <span class="mdl-layout-title">Pollkat - Create and share custom polls</span>
     <div class="mdl-layout-spacer"></div>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
       <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
       <input class="mdl-textfield__input" type="text" placeholder="coming soon!" name="sample" id="waterfall-exp">
      </div>
     </div>
    </div>
    <!-- Bottom row, not visible on scroll -->
    <div class="mdl-layout__header-row">
     <div class="mdl-layout-spacer"></div>
     <!-- Navigation -->
     <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">Home</a>
      {{# if user}}
      <a class="mdl-navigation__link" href="/profile">Profile</a>
      <a class="mdl-navigation__link" href="/mypolls">My Polls</a>
      <a class="mdl-navigation__link" href="/myvotes">My Votes</a>
      <a class="mdl-navigation__link" href="/createpoll">Create Poll</a>
      {{/if}}
      
      <a class="mdl-navigation__link" href="/browse">Browse Polls</a>
      <a class="mdl-navigation__link" href="/users">Browse Users</a>
     </nav>
    </div>
   </header>
   <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Pollkat</span>
    <nav class="mdl-navigation">
     <a class="mdl-navigation__link" href="/">Home</a>
    {{# if user}}
    <a class="mdl-navigation__link" href="/profile">Profile</a>
    <a class="mdl-navigation__link" href="/mypolls">My Polls</a>
    <a class="mdl-navigation__link" href="/myvotes">My Votes</a>
    <a class="mdl-navigation__link" href="/createpoll">Create Poll</a>
    {{/if}}
      
    <a class="mdl-navigation__link" href="/browse">Browse Polls</a>
    <a class="mdl-navigation__link" href="/users">Browse Users</a>
    </nav>
   </div>
   <main class="mdl-layout__content">
    <div class="page-content">
     <!-- Your content goes here -->
     {{{body}}}
    </div>
    
   </main>
   
  </div>
  
 </body>
</html>

