<div class="mdl-grid">
  
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 25px;">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Signup</h2>
      </div>
      
        
                <form action="/signup" method="post">
            
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="email">User Name</label>
                        <input class="mdl-textfield__input" type="text" name="email">
                    </div>
                
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="password">Password</label>
                        <input class="mdl-textfield__input" type="password" name="password">
                    </div><br><br>
            
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                        Signup
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>