<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop">

	<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 25px;">
		<div class="mdl-card__title">
        	<h2 class="mdl-card__title-text">{{user}}'s Polls</h2>
        </div>
        <div class="mdl-card__supporting-text">
            
            <ul class="demo-list-item mdl-list">
                {{#each polls}}
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <a href="/poll/{{_id}}">
                            <i class="material-icons mdl-list__item-icon">equalizer</i>
                            {{question}}
                        </a>
                    </span>
                </li>
                {{/each}}
            </ul>
            
        </div>
    </div>
</div>